.button-container {
    margin-top: 20px;
    margin-left: 40px;
}

button {
    background: #fff;
    border: 1px solid rgb(255, 196, 0);
    padding: 6px;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    color: #fff;
    background: rgb(255, 196, 0);
}

input {
    border: 1px solid rgb(255, 196, 0);
    padding: 5px;
}

label {
    margin-right: 5px;
}

input:focus {
    outline: none;
}

#result {
    margin-top: 40px;
}